*{
 margin: 0;padding: 0;
 box-sizing: border-box;
 outline-style:none !important ;
}
body,html{
 height: 100vh;
 width: 100vw;
 overflow-x: hidden;
font-family: Bahnschrift;
font-size: 62.5%;
outline-style:none !important ;
}
.head{
 display: block;
 height: 5rem; 
 width: 100%;
 background: rgb(250, 250, 250);
 color: gray;
 line-height: 5rem;
 padding-left: 2rem;
 margin: 4rem 0 0 0;
}
.para{
 font-size: 1.8rem;
 color: gray;
 font-family: calibri;
}
.btn{
  font-size: 1.5rem;
  color: #F48400;
  background: none;
  border: .2rem solid #F48400 ;
  padding: .7rem 4rem;
  transition: .3s ;
  &:hover{
    background: #F48400;
    color: #fff;
  }
}
//----------------------------------------nav-------------------------------------------------------
.header{
 position: relative;
 z-index: 1;
 height:9rem ;
 width: 100%;
 background: #fff;
 box-shadow: 0 0 .7rem rgba(0, 0, 0, 0.338);
 nav{
  .logo{
   float: left;
   line-height: 9rem;
   
   img{
    position: absolute;
    height: 14rem;
    transform: translate(-5rem, -2rem);
   }
  }
  .nav_items{
   float: right;
   list-style: none;
   display: flex;
   >li{
     position: relative;
    padding: 0rem 1.5rem;
    font-size: 2rem;
    line-height: 9rem;
   text-transform: capitalize;
    color: gray;
    &:hover  .submenu{
      height: 100% !important;
      overflow: visible;
      background: #ffff;
      
    }
    .active{
     text-decoration: none;
     border-bottom: 2px solid #F48400;

    }
    a{
     color: gray;
     text-decoration: none;
     padding: .6rem 0;
    &:hover{
     border-bottom: 2px solid #F48400;
    }
    }
   }
   
  }
 }
}
.submenu{
  position: absolute;
  background: #ffff;
  top: 7rem;
  left: 0;
  z-index: 1 !important;
  overflow: hidden;
  height: 0 !important;
  width: 25rem !important;
  list-style: none;
  li{
    
    background: #ffff;
    font-size: 1.8rem;
    font-weight: lighter;
    padding: .7rem 3rem;
    line-height: 3rem !important;
    border: 1px solid rgba(0, 0, 0, 0.119);
    cursor: pointer;
    &:hover{
      background: rgb(249, 249, 249);
    }
    a{
      border: none !important;
      text-decoration: none;
      color: gray;

    }
  }
}
//-----------------------------------------------sidebar-------------------------------------------------------
.sidebar{
 position: fixed;
 top: 9rem;
 right: 0;
 transform: translateX(30rem);
 z-index: 1;
 height: 100vh;
 overflow: scroll;
 width: 26rem;
 background: #fff;
 text-align: right;
 transition: .2s ease-in-out;
 .sidebar_items{
  list-style: none;
  
  li{
    background: #fff;
   display: block;
   padding: 1.5rem 2rem 1.5rem 0;
   border-bottom: .1rem solid rgba(146, 146, 146, 0.486);
   cursor: pointer;
   &:hover .sidebar_submenu{
     height: 100%;
     overflow: visible;
   }
   &:hover{
    background: rgb(246, 246, 246);
    border-right: .4rem solid #F48400;
   }
   a{
    font-size: 2rem;
    text-decoration: none;
    color: gray;
   }
  }
 }
}
.sidebar_submenu{
  height: 0;
  overflow: hidden;
  li{
    border: none !important;
    padding: .8rem .3rem .8rem 0 !important;
    height: 100%;
    width: 100%;
   border-bottom: .1rem solid rgba(146, 146, 146, 0.486) !important;
    background: #ffff;
  }
}
#chk{
 position: absolute;
 visibility: hidden;
}
.sidebarbtn{
 position: absolute;
 top: 50%;
 transform: translate(-50% , -50%);
 right: 4rem;
 z-index: 1;
 height: 3rem;
 width: 3rem;
 display: none;
cursor: pointer;
}
.spinner {
 cursor: pointer;
 height: 2px;
 width: 25px;
 background: #D23E00;
 margin-top: 5px;
 z-index: 100000000;
 -webkit-transition: .3s linear;
 transition: .2s linear;
}

#chk:checked ~ .sidebar {
  transform: translateX(0);
}

#chk:checked ~ .sidebarbtn .spinner.top {
 -webkit-transform: rotate(135deg);
 transform: rotate(135deg);
 margin-top: 8px;
}

#chk:checked ~ .sidebarbtn .spinner.middle {
 opacity: 0;
}

#chk:checked ~ .sidebarbtn .spinner.bottom {
 -webkit-transform: rotate(-135deg);
 transform: rotate(-135deg);
 margin-top: -9px;
}
//--------------------------------------------------------------------------slider---------------------------------------------------------------
.slider{
 z-index: -1;
 height: auto;
 width: 100%;
 overflow: hidden;
 transform: translateY(-1rem);
.slides{
 .slide{
   .text{
     h1{
       font-size: 4rem;
       border-left: .8rem solid #fff;
       padding: 0rem 2rem;
     }
     position: absolute;
    bottom: 10%;
     left: 5%;
     color: #ffff;
   }
  img{
   height: 100%;
   width: 100%;
  }
 }
}
}
.img_container
{
 border: .1rem solid rgb(190, 190, 190);
}
.box{
 border: .1rem solid rgb(202, 202, 202);
 height: 28rem;
 width: 35rem;
 padding: 0 3rem;
 display: flex;
 align-items: center;
 justify-content: center;
 position: relative;
 .box_inner{
   
  h1{
   position: absolute;
   top: -1.5rem;
   left: 2rem;
   padding: 0 1rem;
   background: #fff;
  }
 }
}

.gallery{
 .img{
  height: 20rem;
  width: 20rem;
  margin: 2rem;
  img{
   height: 20rem;
   width: auto;
  }
 }
}

.nav_list{
 list-style: none;
 li{

  position: relative;
  display: block;
  height: 5rem;
  width: 100%;
  padding: 1rem 2rem;
  margin: 1rem;
  font-size: 1.8rem;
  background: rgb(252, 252, 252);
  border-left: .5rem solid #F48400;
  }
  a{
    cursor: default;
  text-decoration: none;
  text-transform: capitalize;
  color: #F48400;
  
  }
 }



//----------------------------------------footer--------------------------------------------
footer{
 background: rgb(245, 245, 245);
}


//---------------------------------------about--------------------------------------------------
.heading{
 height: 10rem;
 width: 100%;
 position: relative;
 box-shadow: inset 0 0 .6rem rgba(0, 0, 0, 0.118) ;
 h1{
  font-size: 3rem;
  color: #F48400;
position: absolute;
top: 50%;
left: 3rem;
 transform: translateY(-50%);

 }
}
.para_heading{
 width: 100%;
 padding: 1rem 1rem;
 font-size: 2rem;
 color: #F48400;
 background: rgb(252, 252, 252);
 border-left: .4rem solid #F48400;
}

@media screen and (max-width:992px){
 html{
  font-size: 55%;
 }
}
@media screen and (max-width:768px){
 html{
  font-size: 45%;
 }
 
 .slider{
   margin-top: 10rem !important;
   .slides{
     .slide{
      .text{
        h1{
          font-size: 3rem;
        }}
     }
   }
 }
 .heading{
  display: block;
  top:9rem ;
 margin-bottom: 9rem;
 }
 .header{
   position: fixed;
 }
.nav_items{
 display: none !important;
 }
 .sidebarbtn{
  display: block;
 }
}

.social_icons{
 text-align: right;
 i{
  color: #F48400;
  font-size: 3rem;
  margin: 0 .5rem;
  cursor: pointer;
  &:hover{
   color: gray;

  }
 }
}