* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline-style: none !important;
}

body,
html {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  font-family: Bahnschrift;
  font-size: 62.5%;
  outline-style: none !important;
}

.black::before {
  content: "";
  position: absolute;
  top: 9rem;
  -webkit-transition: .2s;
  transition: .2s;
  left: 0;
  height: 100vh;
  display: none;
  width: 100%;
  background: rgba(0, 0, 0, 0.267);
  z-index: -2;
}

.head {
  display: block;
  height: 5rem;
  width: 100%;
  background: #fafafa;
  line-height: 5rem;
  padding-left: 2rem;
  margin: 4rem 0 0 0;
}

.head2 {
  font-size: 1.5rem;
  display: block;
  height: 3.5rem;
  width: 100%;
  background: #fafafa;
  color: gray;
  line-height: 3.5rem;
  padding-left: 2rem;
  margin: 4rem 0 0 0;
}

.para {
  padding: 1rem 2rem;
  font-size: 1.8rem;
  color: gray;
  font-family: calibri;
  display: block;
}

.card_para {
  font-size: 1.8rem;
  color: gray;
  font-family: calibri;
  display: block;
}

.btn {
  font-size: 1.5rem;
  color: #F48400;
  background: none;
  border: .2rem solid #F48400;
  padding: .7rem 4rem;
  -webkit-transition: .3s;
  transition: .3s;
  position: relative;
  overflow: hidden;
}

.btn:hover {
  background: #F48400;
  color: #fff;
}

.card_btn {
  font-size: 1.5rem;
  color: #F48400;
  background: none;
  border: .2rem solid #F48400;
  padding: 1.2rem 10rem;
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
  border-radius: .5rem;
}

.card_btn:hover {
  background: #F48400;
  color: #fff;
}

li {
  font-size: 1.5rem;
  color: gray;
  padding: 0 2rem;
}

.header {
  position: relative;
  top: 0;
  z-index: 1;
  height: 9rem;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.338);
          box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.338);
}

.header nav {
  z-index: 1;
}

.header nav .logo {
  float: left;
  line-height: 9rem;
}

.header nav .logo img {
  position: absolute;
  height: 14rem;
  -webkit-transform: translate(-5rem, -2rem);
          transform: translate(-5rem, -2rem);
}

.header nav .nav_items {
  float: right;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header nav .nav_items > li {
  position: relative;
  padding: 0rem 1.5rem;
  font-size: 1.5rem;
  line-height: 9rem;
  text-transform: capitalize;
  color: gray;
}

.header nav .nav_items > li:hover,
.header nav .nav_items > li:hover > a {
  color: #F48400 !important;
}

.header nav .nav_items > li:hover .submenu {
  height: 100% !important;
  overflow: visible;
  background: #ffff;
}

.header nav .nav_items > li .active {
  text-decoration: none;
  color: #F48400;
}

.header nav .nav_items > li a {
  color: gray;
  text-decoration: none;
  padding: .6rem 0;
  -webkit-transition: .1s;
  transition: .1s;
}

.header nav .nav_items > li a:hover {
  color: #F48400;
}

.submenu {
  position: absolute;
  background: #ffff;
  top: 7rem;
  left: 0;
  z-index: 1 !important;
  overflow: hidden;
  height: 0 !important;
  width: 25rem !important;
  list-style: none;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.123);
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.123);
}

.submenu li {
  position: relative;
  width: 100%;
  height: 4rem;
  background: #fff;
  line-height: 4rem;
  border-bottom: 0.1rem solid rgba(129, 129, 129, 0.164);
  cursor: pointer;
}

.submenu li:hover,
.submenu li:hover > a {
  color: #F48400 !important;
}

.submenu li i {
  position: absolute;
  right: 0;
  padding-right: 2rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.submenu li:hover {
  background: #f9f9f9;
}

.submenu li:hover .submenu2 {
  height: 100% !important;
  overflow: visible;
  background: #ffff;
}

.submenu li a {
  border: none !important;
  text-decoration: none;
  color: gray;
}

.submenu2 {
  position: absolute;
  background: #ffff;
  top: 0%;
  left: 100%;
  height: 0 !important;
  overflow: hidden;
  width: 25rem;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.123);
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.123);
}

.sidebar {
  position: fixed;
  top: 9rem;
  right: 0;
  -webkit-transform: translateX(30rem);
          transform: translateX(30rem);
  z-index: 1;
  height: 65rem;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 26rem;
  background: #fff;
  text-align: right;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.sidebar .sidebar_items {
  list-style: none;
}

.sidebar .sidebar_items li {
  background: #fff;
  display: block;
  padding: 1.5rem 2rem 1.5rem 0;
  border-bottom: 0.1rem solid rgba(146, 146, 146, 0.486);
  cursor: pointer;
}

.sidebar .sidebar_items li label {
  margin: 0;
  padding: 0;
}

.sidebar .sidebar_items li:hover {
  background: #f6f6f6;
  border-right: .4rem solid #F48400;
}

.sidebar .sidebar_items li a {
  font-size: 1.5rem;
  text-decoration: none;
  color: gray;
}

#sbtn {
  position: absolute;
  visibility: hidden;
}

.slabel {
  font-size: 1.5rem;
  color: gray;
}

#sbtn:checked ~ .sidebar_submenu {
  display: block;
}

#sbtn2 {
  position: absolute;
  visibility: hidden;
}

.slabel2 {
  font-size: 1.5rem;
  color: gray;
}

#sbtn2:checked ~ .sidebar_submenu2 {
  display: block;
}

.sbtn {
  text-decoration: none;
  color: gray;
  font-size: 1.5rem;
}

.sidebar_submenu {
  display: none;
}

.sidebar_submenu li {
  border: none !important;
  padding: .8rem .3rem .8rem 0 !important;
  height: 100%;
  width: 100%;
  border-bottom: 0.1rem solid rgba(146, 146, 146, 0.486) !important;
  background: #ffff;
}

.sidebar_submenu li a i {
  margin-left: .5rem;
  margin-right: .5rem;
}

.sidebar_submenu2 {
  display: none;
}

.sidebar_submenu2 li {
  border: none !important;
  padding: .8rem .3rem .8rem 0 !important;
  border-bottom: 0.1rem solid rgba(146, 146, 146, 0.486) !important;
  background: #ffff;
}

.sidebar_submenu2 li a i {
  margin-left: .5rem;
  margin-right: .5rem;
}

#chk {
  position: absolute;
  visibility: hidden;
}

.sidebarbtn {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  right: 4rem;
  z-index: 1;
  height: 3rem;
  width: 3rem;
  display: none;
  cursor: pointer;
}

.spinner {
  cursor: pointer;
  height: 2px;
  width: 25px;
  background: #D23E00;
  margin-top: 5px;
  z-index: 100000000;
  -webkit-transition: .3s linear;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

#chk:checked ~ .sidebar {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#chk:checked ~ .black::before {
  display: block;
}

#chk:checked ~ .sidebarbtn .spinner.top {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  margin-top: 8px;
}

#chk:checked ~ .sidebarbtn .spinner.middle {
  opacity: 0;
}

#chk:checked ~ .sidebarbtn .spinner.bottom {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  margin-top: -9px;
}

.sidebar_submenu2 i {
  margin: 0 1rem;
}

.sidebar_submenu2 li label {
  font-size: 1.5rem;
  color: gray;
}

#l1:checked ~ .list1 {
  display: block;
}

#l2:checked ~ .list2 {
  display: block;
}

#l3:checked ~ .list3 {
  display: block;
}

#l4:checked ~ .list4 {
  display: block;
}

input {
  position: absolute;
  visibility: hidden;
}

.list {
  display: none;
  margin: .5rem 0;
}

.list li a {
  margin-right: 1rem;
}

.slider {
  z-index: -1;
  height: auto;
  width: 100%;
  overflow: hidden;
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.slider .slides {
  position: relative;
}

.slider .slides .slide .slide_text {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 12rem;
  padding: 1rem 2rem;
  width: 100%;
  background: rgba(0, 0, 0, 0.596);
  position: absolute;
  bottom: 10%;
  left: 5%;
  color: #ffff;
}

.slider .slides .slide .slide_text h1 {
  font-size: 4rem;
}

.slider .slides .slide img {
  height: 100%;
  width: 100%;
}

.img_container {
  border: 0.1rem solid #bebebe;
}

.box {
  border: 0.1rem solid #cacaca;
  height: 28rem;
  width: 35rem;
  padding: 0 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.box .box_inner h1 {
  position: absolute;
  top: -1.5rem;
  left: 2rem;
  padding: 0 1rem;
  background: #fff;
}

.gallery .img {
  height: 20rem;
  width: 20rem;
  margin: 2rem;
}

.gallery .img img {
  height: 20rem;
  width: auto;
}

.nav_list {
  list-style: none;
}

.nav_list li {
  position: relative;
  display: block;
  height: 5rem;
  width: 100%;
  padding: 1rem 2rem;
  margin: 1rem;
  font-size: 1.8rem;
  background: #fcfcfc;
  border-left: .5rem solid #F48400;
}

.nav_list a {
  cursor: default;
  text-decoration: none;
  text-transform: capitalize;
  color: #F48400;
}

.card_slider {
  padding: 2rem 0;
  border-top: 0.1rem solid #e7e7e7;
  border-bottom: 0.1rem solid #e7e7e7;
}

.card_slider .card_img img {
  height: 40rem !important;
}

.scard {
  margin: 2rem;
  text-align: left;
  border-radius: .8rem;
  height: 63rem;
  width: 32rem;
  padding: 2rem;
  -webkit-transition: .2s;
  transition: .2s;
  border: 0.1rem solid #dfdfdf;
}

.scard:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
  -webkit-box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.103);
          box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.103);
}

.scard .img {
  display: block;
  z-index: -1;
}

.scard .img img {
  position: relative;
  height: 40rem;
  display: block;
  z-index: -1;
  border: 0.1rem solid #dfdfdf;
}

.scard .sheading {
  font-size: 2rem;
  color: #F48400;
  font-weight: bold;
}

.scard .para_container {
  height: 15rem;
  width: 100%;
  position: relative;
  padding: 2rem 0;
}

.scard .spara {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.products_card {
  height: 85rem;
  width: 35rem;
  border: 0.1rem solid #e4e4e4;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.116);
          box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.116);
}

.products_card .card_text {
  padding: 2rem 2rem;
}

.products_card .card_img {
  text-align: center;
  height: 50rem;
  border-bottom: 0.1rem solid #cacaca;
}

.products_card .card_img img {
  text-align: center;
  margin-bottom: 2rem;
}

footer {
  background: whitesmoke;
}

.heading {
  height: 10rem;
  width: 100%;
  position: relative;
  -webkit-box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.118);
          box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.118);
  background-image: url("img/background/back.jpg");
}

.heading h1 {
  font-size: 3rem;
  color: #F48400;
  position: absolute;
  top: 50%;
  left: 3rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.para_heading {
  width: 100%;
  padding: 1rem 1rem;
  font-size: 2rem;
  color: #F48400;
  background: #fcfcfc;
  border-left: .4rem solid #F48400;
}

@media screen and (max-width: 992px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 45%;
  }
  .slider {
    margin-top: 10rem !important;
  }
  .slider .slides .slide .text h1 {
    font-size: 3rem;
  }
  .heading {
    display: block;
    top: 9rem;
    margin-bottom: 9rem;
  }
  .header {
    position: fixed;
  }
  .nav_items {
    display: none !important;
  }
  .sidebarbtn {
    display: block;
  }
}

.social_icons {
  text-align: right;
}

.social_icons i {
  color: #F48400;
  font-size: 3rem;
  margin: 0 .5rem;
  cursor: pointer;
}

.social_icons i:hover {
  color: gray;
}
/*# sourceMappingURL=style.css.map */